:root {
    /* Color Variables */
    --primary-color: #c4a15a;
    --secondary-color: #0b3865;
    --primary-color-light: #fdd60e;
    --secondary-color-dark:#011d3d;
    --accent-color:#d8d4c7;
    --background-dark-color: #10121A;
    --background-dark-grey: #191D2B;
    --border-color: #2e344e;
    --background-light-color: #F1F1F1;
    --background-light-color-2: rgba(3, 127, 255, 0.3);
    --white-color: #FFF;
    --font-light-color: #a4acc4;
    --font-dark-color: #313131;
    --font-dark-color-2: #151515;
    --sidebar-dark-color: #191D2B;
    --twitch-main-color: #9136ff;
    --twitch-secondary-color: #6441a5;

    /* Font Sizes */
    --font-size-smaller: 0.8rem;
    --font-size-small: 0.875rem;
    --font-size-medium: 1rem;
    --font-size-large: 1.125rem;
    --font-size-xlarge: 1.25rem;
    --font-size-xxlarge: 2rem;

    /* Spacing */
    --spacing-xsmall: 4px;
    --spacing-small: 8px;
    --spacing-medium: 16px;
    --spacing-large: 24px;
    --spacing-xlarge: 48px;
    --spacing-xxlarge: 96px;

    /* Border Radius */
    --border-radius-small: 4px;
    --border-radius-medium: 8px;
    --border-radius-large: 12px;

    /* Grid Values */
    --grid-small: 56px;
    --grid-medium: 80px;
    --grid-large: 100px;
    --grid-xlarge: 200px;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: var(--background-dark-color);
    color: var(--white-color);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}